body{
    background-color: rgb(255, 218, 150);
    color: rgb(147, 82, 50);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:rgb(141, 39, 8);
    background-color: rgb(253, 234, 209);
}
a{
    text-decoration: none;
    color: rgb(255, 244, 244);
    background-color: rgb(195, 65, 65);
    padding: 7px;
    border-radius: 3%;

}
a:hover {
    background-color:  rgb(154, 41, 41);
}